
 <style>
    .writing {
      color: black;
      font-size: 1.2em;
    }
    .images {
      width = 500px;
      height= 500px
    }
    .texthighlight {
      background-color: pink;
    }
 	
  </style>